<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
    <settings>
        <!--日志-->
        <setting name="logImpl" value="STDOUT_LOGGING"/>
        <!--开启缓存-->
        <setting name="cacheEnabled" value="true"/>
        <!--驼峰转换,表（user_id）-> 实体（userId）-->
        <setting name="mapUnderscoreToCamelCase" value="true"/>
        <!--获取数据库主键自增-->
        <!--<setting name="useGenerateKey" value="true"/>-->
        <setting name="useColumnLabel" value="true"/>
    </settings>
</configuration>